## (Optional if you rely on contexts)
## $webResourceManager.requireResource("YOUR_PLUGIN_KEY:helloWorld-resources")

<div>
    <strong>Hello from my plugin!</strong><br/>
    <a id="myLink" class="aui-button aui-button-primary" target="_blank" rel="noopener">
        Go to Plugin Dashboard
    </a>
</div>
